DEBUG=True

# Generate the secret key with: docker exec -it ticketing_backend python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=

DB_NAME=
DB_USER=postgres
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432


#for Docker Compose
POSTGRES_DB=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=